
#result {
  display: none;
}

body {
  background-color: #A5AAA3;
  color: #812F33;
}




.h1-size {
  font-size: 35px;
}

.headings-size {

}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff !important;
    background-clip: padding-box;
    border: 1px solid #FEA443 !important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color: #812F33 !important;
}

.font-awesome {
  color: #812F33;
  font-size: 5rem;
  text-align: center;
}
.btn-outline-danger {
  color:#812F33;
  border-color:#812F33;
}

.btn-outline-danger:hover {
    color: #A5AAA3;
    background-color: #812F33 ;
    border-color: #812F33 ;
}